/**
 * 如果你希望有一个地方可以集中管理你的全局样式变量，
 * 并且你喜欢使用 SCSS 的变量功能，那么你应该使用 variables.scss 文件。
 * variables.scss 变量，如颜色、字体大小、边距等 
 * */

/* Colors */
$primary-color: #3498db;
$secondary-color: #2ecc71;
$warning-color: #f39c12;
$error-color: #e74c3c;

/* Font Sizes */
$font-size-small: 24rpx;
$font-size-normal: 32rpx;
$font-size-large: 40rpx;

/* Spacing */
$margin-small: 12rpx;
$margin-normal: 20rpx;
$margin-large: 32rpx;

$padding-small: 12rpx;
$padding-normal: 20rpx;
$padding-large: 32rpx;

/* ... */
